.DS_Store
*.pyc
*.egg-info
*.swp
tags
suviner_pos/docs/current
node_modules
suviner_pos/public/dist
# ignore Vue single-file component styles generated during build
**/*.vue.css
/dist
package-lock.json
frappe-bench/
vite.log
dist-electron/
dist_electron/
